




.logo{
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-items: start;
  justify-content: start;
  column-gap: 10px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffecf8;
  border: 1px solid #f1f5f9;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  width: 395.69px;
  height: 20px;
  left: 394px;
  top: 6px;
  
}
.nav-links a:hover {
  color: #db2777;
}
.btn {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-items: start;
  justify-content: start;
}

.Up {
  background-color: #db2777;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Up:hover {
  background-color: #be185d;
  transform: translateY(-2px);
}

.In {
  background-color: #ffffff;
  color: #070000;
  padding: 10px 24px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.In:hover {
  background-color: #fdf2f8;
  transform: translateY(-2px);
}